<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MercuryStore</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1>Mercury Store</h1>
    </header>
    <a href="/"> <strong>Home</strong></a>
     <script src="/js/script.js"></script>
  </body>